@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Poppins:ital,wght@1,400;1,600;1,900&display=swap");
*, *::after, *::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-top;
}

/* THEMING */

:root {
  --_hue: 245;
  --_size: 1.8rem;
  --_radius: 0.2em;
  --_tspeed_fast: 180ms;
  --_tspeed_slow: 300ms;
  --_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);
  /* Light Mode */
  --bg--light: var(--_hue) 30% 94%;
  --txt--light: var(--_hue) 40% 5%;
  --accent--light: var(--_hue) 55% 50%;
  --accent1--light: 10 80% 60%;
  --muted--light: var(--_hue) 30% 99%;
  --input--light:var(--_hue) 20% 85%;
  /* Dark Mode */
  --bg--dark: var(--_hue) 15% 10%;
  --txt--dark: var(--_hue) 30% 88%;
  --accent--dark: var(--_hue) 50% 50%;
  --accent1--dark: 10 55% 50%;
  --muted--dark: var(--_hue) 20% 4%;
  --input--dark:var(--_hue) 20% 25%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg--dark);
    --txt: var(--txt--dark);
    --accent: var(--accent--dark);
    --accent1: var(--accent1--dark);
    --muted: var(--muted--dark);
    --input: var(--darker--dark);
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg--light);
    --txt: var(--txt--light);
    --accent: var(--accent--light);
    --accent1: var(--accent1--light);
    --muted: var(--muted--light);
    --input: var(--lighter--light);
    color-scheme: light;
  }
}

[color-scheme="dark"] {
  --bg: var(--bg--dark);
  --txt: var(--txt--dark);
  --accent: var(--accent--dark);
  --accent1: var(--accent1--dark);
  --muted: var(--muted--dark);
  --input: var(--lighter--dark);
  color-scheme: dark;
}
[color-scheme="light"] {
  --bg: var(--bg--light);
  --txt: var(--txt--light);
  --accent: var(--accent--light);
  --accent1: var(--accent1--light);
  --muted: var(--muted--light);
  --input: var(--lighter--light);
  color-scheme: light;
}

/* ANIMATIONS */
@media (prefers-reduced-motion: reduce) {
  :root {
    --_tspeed_slow: 50ms;
    --_tspeed_fast: 50ms;
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 hsla(0, 0%, 0%, 0.7);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px hsla(0, 92%, 46%, 0);
	}
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 hsla(0, 0%, 0%, 0);
	}
}

/* INDEX */
body {
  font-family: "poppins", sans-serif;
  display: grid;
  place-items: center;
  padding: 2rem;
  color: hsl(var(--txt));
  background-color: hsl(var(--bg));
}
form {
  display: grid;
  grid-gap: 1rem;
  margin: 1rem 0;
  width: 100%;
}
form label, form input, form textarea {
  font-family: inherit;
  font-size: inherit;
}
form [for=title], form [for=note] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  grid-gap: 1rem;
  background-color: hsl(var(--muted));
  font-weight: bold;
  
}

form label:hover {
  box-shadow: 0.05em 0.1em 0.9em hsl(var(--accent) / 0.3), 0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent));
}
form [for=title] input, form [for=title] textarea, form [for=note] input, form [for=note] textarea {
  flex: 1 1 80%;
  border: none;
  border-radius: var(--_radius);
  padding: 0.5rem;
  background-color: hsl(var(--input));
  color: hsl(var(--txt));
  width: 100%;
  box-shadow: 0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent) / 0.8);
  transition: box-shadow var(--_tspeed_fast) var(--_ttype_squish);
}
form [for=title] input:focus, form [for=title] textarea:focus, form [for=note] input:focus, form [for=note] textarea:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em hsl(var(--bg)), 0 0 0 0.4em hsl(var(--accent) / 0.8);
}
form [type=submit] {
  background-color: hsl(var(--accent));
  box-shadow: 0.05em 0.1em 0.9em hsl(var(--accent) / 0.3), 0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent));
  transition: box-shadow var(--_tspeed_fast) var(--_ttype_squish), background-color var(--_tspeed_fast) var(--_ttype_squish);
  border: none;
  font-size: 1.3rem;
  color: hsl(var(--txt));
  padding: 0.5rem;
  cursor: pointer;
}
form [type=submit]:hover, form [type=submit]:focus {
  outline: none;
  box-shadow: none;
  border: none;
  transform: scale(1);
	animation: pulse 2s infinite;
}

/* CLASSES */
.app-container {
  display: grid;
  max-height: 100%;
  max-width: 100%;
}
.form-container {
  display: grid;
  max-width: 1000px;
  margin: 1rem auto;
}
.form-container h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
}
.form-container h3 {
  color: hsl(var(--accent));
  text-align: center;
  font-weight: 900;
}

.note-container {
  padding: 20px;
  border-radius: 10px;
  
}

/* BUTTON CUSTOMIZATION */
.btn {
  margin: 1rem 1rem;
  place-items: center;
  gap: 0.5em;
  background-color: hsl(var(--accent));
  color: hsl(var(--bg));
  text-decoration: none;
  padding: 0.5em;
  border-radius: var(--_radius);
  box-shadow: 0.05em 0.1em 0.9em hsl(var(--accent) / 0.3),
    0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent));
  transition: box-shadow var(--_tspeed_fast) var(--_ttype_squish),
    background-color var(--_tspeed_fast) var(--_ttype_squish);
}

.btn :where(svg, img, span) {
  pointer-events: none;
}

.btn :where(svg, img) {
  width: var(--_size);
  height: var(--_size);
}

.btn:where(:active, :hover) {
  background-color: hsl(var(--accent) / 0.7);
  box-shadow: 0 0 0 hsl(var(--accent) / 0.3), 0 0 0 -0.1em hsl(var(--bg)),
    0 0 0 -0.2em hsl(var(--accent));
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  box-shadow: 0 0 0 hsl(var(--accent) / 0.3), 0 0 0 0.2em hsl(var(--bg)),
    0 0 0 0.4em hsl(var(--accent) / 0.7);
}

[role="dialog"] {
  position: fixed;
  z-index: 100;
  inset: 0;
  padding-inline: 2vmax;
  display: grid;
  place-items: center;
  background-color: hsl(var(--bg) / 0.7);
}

[role="dialog"] .todo {
  max-width: 40ch;
  padding: 2em 1.3em 1.3em;
  background-color: hsl(var(--bg));
  border-radius: var(--_radius);
  border: 0.1em solid hsl(var(--accent) / 0.3);
  box-shadow: 0 -1em 3em hsl(var(--muted)), 0 1em 3em hsl(var(--accent) / 0.2);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  grid-gap: 1rem;
  background-color: hsl(var(--muted));
  font-weight: bold;
}
