.note {
  padding-left: 7.5rem;
  
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1.5em;
  }
  @media only screen and (max-width: 600px) {
    .note {
      padding-right: 7rem;
      
      
      list-style-type: none;
      
      }
  }